 @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');
 /* Google import fonts */

 * {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
 }

 /* header styles */

 header {
    background: #FFF;
    padding: 20px 70px;
 }

 nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

 nav>ul {
    display: flex;
 }

 nav li {
    list-style: none;
    margin-right: 35px;
    font-size: 18px;
    font-weight: 400;
 }

 h1 {
    color: #131318;
    font-size: 36px;
    font-weight: 800;
    border: 0;
 }

 .icon {
    border: 0;
    margin-right: -850px;
    width: 100px;
    height: 95px;
 }

 .home {
    color: #FF5400;
 }

 .master {
    color: #FF5400;
 }

 /* Banner */


 .banner {
    position: relative;
    text-align: center;
 }

 .banner img {
    width: 90%;
    z-index: 1;
    filter: brightness(50%);
    position: relative;
 }

 .banner .invite-title {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    font-size: 64px;
    font-weight: 800;
    z-index: 3;
 }

 .banner .invite {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    z-index: 3;
 }

 .input {
    position: absolute;
    text-align: center;
    z-index: 3;
    top: 550px;
    left: 650px;
    border: 8px;
    border-radius: 16px;
    padding: 16px;
    font-size: 16px;
    font-weight: 400;
    background-color: rgba(255, 255, 255, 0.171);
 }

 .btn {
    color: #FFF;
    background-color: #FF5400;
    border-color: #ffffff00;
    font-weight: 500;
    border-radius: 5px;
 }

 /* Popular tours */

 .tours {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
 }

 .discription {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
 }

 .lists {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
 }

 .info-section {
    margin-top: 70px;
    margin-left: 50px;
 }

 .readmore {
    height: 52px;
    width: 174px;
    font-size: 20px;
    font-weight: 700;
    color: #FFF;
    background-color: #FF5400;
    border-color: #ffffff00;
    border-radius: 10px;
    margin-left: 800px;
 }

 .info-img {
    margin-top: 100px;
    margin-left: 50px;

 }

 .info-img2 {
    height: 550px;
    margin-left: 100px;
    border-radius: 20px;
 }

 /*Choose Your Destination */

 .destination-back {
    background-color: rgb(248, 247, 236);
 }

 .info-header {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
 }

 .Destination {
    text-align: center;
 }

 h3 {
    font-size: 28px;
    font-weight: 800;
    text-decoration: underline;
 }

 .img1:hover {
    background-color: rgba(56, 55, 55, 0.336);
    cursor: pointer;
 }

 .img2:hover {
    background-color: rgba(56, 55, 55, 0.336);
    cursor: pointer;
 }

 .img3:hover {
    background-color: rgba(56, 55, 55, 0.336);
    cursor: pointer;
 }

 .img4:hover {
    background-color: rgba(56, 55, 55, 0.336);
    cursor: pointer;
 }

 .img5:hover {
    background-color: rgba(56, 55, 55, 0.336);
    cursor: pointer;
 }

 .img6:hover {
    background-color: rgba(56, 55, 55, 0.336);
    cursor: pointer;
 }

 .img7:hover {
    background-color: rgba(56, 55, 55, 0.336);
    cursor: pointer;
 }

 /* Choose Us Section */

 .background {
    background-image: url(https://images.unsplash.com/photo-1485470733090-0aae1788d5af?auto=format&fit=crop&q=80&w=1000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fGxpbnV4fGVufDB8fDB8fHww);
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(70%);
 }

 .Choose {
    margin-top: 100px;
    text-align: center;
 }

 .choice-title {
    color: whitesmoke;
    font-size: 40px;
    font-weight: 800;
 }

 .choice-para {
    color: whitesmoke;
    font-size: 16px;
    font-weight: 400;
 }

 .First {
    color: whitesmoke;
    padding-left: 30px;
    margin-top: 100px;
    margin-left: 150px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    width: 573px;
    height: 150px;
 }

 .Second {
    color: whitesmoke;
    padding-left: 30px;
    margin-left: 1000px;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    width: 573px;
    height: 150px;
 }

 .Third {
    color: whitesmoke;
    padding-left: 30px;
    margin-top: 40px;
    margin-left: 400px;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    width: 573px;
    height: 150px;
 }

 /* News Letter ending */


 .king {
   margin-left: 100px;
    margin-top: 100px;
    border-radius: 16px;
    border: 1px solid #FF5400;
    width: 474px;
    height: 200px;
    padding: 50px;
 }

 .news {
    font-size: 24px;
    font-weight: 800;
 }

 .letter {
    font-size: 16px;
    font-weight: 400;
 }

 .text {
    font-size: 16px;
    font-weight: 400;
 }

 .email {
    font-size: 16px;
    font-weight: 400;
 }

 .crown{
   font-size: 20px;
   font-weight: 800;
   color: #FFF;
   background-color: #FF5400;
   border-color: rgba(255, 255, 255, 0);
 }

 .ending-texts {
    display: grid;
    gap: 16px;
    width: 393px;
    height: 52px;
 }


 .end-img {
    margin-top: 85px;
    margin-left: 80px;
    position: absolute;
    z-index: 1;
 }

 .end-para {
    padding: 30px;
    border: 0;
    background-color: #FF5400;
    width: 324px;
    height: 80px;
    text-align: center;
 }

 .Travel {
    font-size: 24px;
    font-weight: 400;
    color: #FFF;
 }

 .Save {
    font-size: 32px;
    font-weight: 800;
    color: #FFF;
 }

 .discount {
   margin-top: 350px;
    margin-left: 350px;
    position: relative;
    z-index: 3;
 }

 .newsletter{
   display: flex;
   margin-left: 50px;
 }

 /* Ending Footer */

 .all{
   margin-top: 200px;
 }

.footer-info{
   text-align: center;
}

 .ending-footer-title{
   display: flex;
   justify-content: center;
   margin-top: 100px;
 }

 .TravelMaster{
   font-size: 32px;
   font-weight: 800;
 }

 .website{
   font-size: 16px;
   font-weight: 400;
 }

 .reserved{
   text-align: center;
   margin-top: 200px;
 }
 